Repository actions/runner-images, pull requests merged in 2020-03, with the labels that each got.

#178 Update to helm 3
  images/linux/scripts/installers/1604/kubernetes-tools.sh
  images/linux/scripts/installers/1804/kubernetes-tools.sh
Labels: Area: Containers, enhancement

#492 macOS Catalina 10.15.3 sofware updates week 10
  images/macos/macos-10.15-Readme.md
Labels: OS: macOS, documentation

#494 Change default Perl on Windows Images
  images/win/Windows2016-Azure.json
  images/win/Windows2019-Azure.json
Labels: Area: Common Tools, OS: Windows, bug

#504 Unite Ubuntu powershell installation scripts
  images/linux/scripts/installers/1804/powershellcore.sh
  images/linux/scripts/installers/powershellcore.sh
  images/linux/ubuntu1604.json
  images/linux/ubuntu1804.json
Labels: OS: Ubuntu, enhancement

#505 Add Spectre-mitigated libraries for MSVC v141 in Visual Studion 2019
  images/win/scripts/Installers/Windows2019/Install-VS2019.ps1
Labels: Area: C/C++, OS: Windows, bug

#515 Add Microsoft Analysis Services Projects extension for VS19
  images/win/Windows2019-Azure.json
  images/win/scripts/Installers/Windows2019/Install-AnalysisExtenstion.ps1
  images/win/scripts/Installers/Windows2019/Validate-AnalysisExtenstion.ps1
Labels: Area: C/C++, OS: Windows, enhancement

#518 Fix bazelisk and mercurial output in readme
  images/linux/scripts/installers/bazel.sh
  images/win/scripts/Installers/Validate-Bazel.ps1
  images/win/scripts/Installers/Validate-Mercurial.ps1
Labels: OS: Ubuntu, OS: Windows, documentation

#499 Add additional agent info
  images/linux/scripts/installers/preimagedata.sh
  images/linux/ubuntu1604.json
  images/linux/ubuntu1804.json
  images/win/Windows2016-Azure.json
  images/win/Windows2019-Azure.json
  images/win/scripts/Installers/Update-ImageData.ps1
Labels: Area: Image administration, OS: Ubuntu, OS: Windows, enhancement

#519 Another WebDrivers output fix for Windows
  images/win/scripts/Installers/Install-Firefox.ps1
  images/win/scripts/Installers/Validate-SeleniumWebDrivers.ps1
Labels: OS: Windows, documentation

#447 Install clang-format
  images/linux/scripts/installers/clang.sh
Labels: Area: C/C++, OS: Ubuntu, enhancement

#537 Add retry logic for VS19 extensions installation
  images/win/scripts/ImageHelpers/ImageHelpers.psm1
  images/win/scripts/ImageHelpers/InstallHelpers.ps1
  images/win/scripts/Installers/Windows2019/Install-AnalysisExtenstion.ps1
  images/win/scripts/Installers/Windows2019/Install-Wix.ps1
Labels: OS: Windows, bug

#544 Add XDG_CONFIG_HOME directory to Ubuntu images
  images/linux/scripts/installers/configure-environment.sh
  images/linux/ubuntu1604.json
  images/linux/ubuntu1804.json
Labels: Area: Image administration, OS: Ubuntu

#548 Change default Openssl on Windows Images
  images/win/Windows2016-Azure.json
  images/win/Windows2019-Azure.json
Labels: OS: Windows, bug

#217 Add Android SDK cmake 3.10.2 component to ubuntu16.04, 18.04 and windows.
  images/linux/scripts/installers/1604/android.sh
  images/linux/scripts/installers/1804/android.sh
  images/win/scripts/Installers/Update-AndroidSDK.ps1
Labels: Area: C/C++, enhancement
