Repository actions/runner-images, pull requests merged in 2020-02, with the labels that each got.

#205 Add parallel on linux
  images/linux/scripts/installers/1604/basic.sh
  images/linux/scripts/installers/1804/basic.sh
Labels: Area: Scripting and command line, enhancement

#366 Fix unattended installation some packages
  images/linux/scripts/installers/dpkg-config.sh
  images/linux/ubuntu1604.json
  images/linux/ubuntu1804.json
Labels: OS: Ubuntu

#367 macOS 10.15 software updates week 6
  images/macos/macos-10.15-Readme.md
Labels: Area: Image administration, OS: macOS, awaiting-deployment, documentation

#415 Restore Git bash utilities to the PATH
  images/win/scripts/Installers/Install-Git.ps1
Labels: OS: Windows

#419 Add dotnet 4.7.2 developer tools
  images/win/scripts/Installers/Windows2016/Install-VS2017.ps1
  images/win/scripts/Installers/Windows2019/Install-VS2019.ps1
Labels: OS: Windows

#436 macOS sofware updates week 8
  images/macos/macos-10.15-Readme.md
Labels: OS: macOS

#456 [Ubuntu] Disable .net SDK 3.1.102 installation
  images/linux/scripts/installers/1604/dotnetcore-sdk.sh
  images/linux/scripts/installers/1804/dotnetcore-sdk.sh
Labels: OS: Ubuntu, bug

#444 Update Install-DotnetSDK.ps1
  images/win/scripts/Installers/Install-DotnetSDK.ps1
Labels: OS: Windows, bug
