Repository actions/runner-images, pull requests merged in 2023-05, with the labels that each got.

#7582 [ubuntu] Remove Python 2.7 from toolcache
  images/linux/toolsets/toolset-2004.json
Labels: ubuntu-all

#7595 [ubuntu] fix the condition in docker-moby.sh
  images/linux/scripts/installers/docker-moby.sh
Labels: CI: ubuntu-all

#7594 [macOS] fix preimage data for Ventura
  images/macos/provision/configuration/preimagedata.sh
Labels: CI macos-all

#7629 [Ubuntu] Fix url for Ubuntu 20 libcontainers repo key
  images/linux/scripts/installers/containers.sh
Labels: CI ubuntu-2004

#7625 Correct typo from 'Delimeter' to 'Delimiter'
  helpers/software-report-base/SoftwareReport.Nodes.psm1
  images/win/scripts/ImageHelpers/TestsHelpers.ps1
Labels: CI windows-all, CI macos-all

#7616 [Ubuntu] Add archive.ubuntu.com to sources.list
  images/linux/scripts/base/apt-ubuntu-archive.sh
  images/linux/ubuntu2004.json
  images/linux/ubuntu2204.pkr.hcl
Labels: CI ubuntu-all
