Repository actions/runner-images, pull requests merged in 2023-10, with the labels that each got.

#8496 [windows] Fix code style in Install-VCRedist.ps1
  images/win/scripts/Installers/Install-VCRedist.ps1
Labels: CI windows-all

#8548 [Ubuntu] revert azcli to the latest version
  images/linux/scripts/installers/azure-cli.sh
Labels: CI ubuntu-all

#8512 [Windows] Add checksum verification for Aliyun CLI
  images/win/scripts/Installers/Install-AliyunCli.ps1
Labels: CI windows-all

#8561 [Ubuntu] Add Mozilla PPA manually
  images/linux/scripts/installers/firefox.sh
Labels: CI ubuntu-all

#8566 [Ubuntu] Update heroku-cli installation script (apt-install)
  images/linux/scripts/installers/heroku.sh
Labels: CI ubuntu-all

#8560 [Ubuntu] Add Java 21
  images/linux/scripts/installers/java-tools.sh
  images/linux/scripts/tests/Java.Tests.ps1
  images/linux/toolsets/toolset-2004.json
  images/linux/toolsets/toolset-2204.json
Labels: CI ubuntu-all

#8575 [Ubuntu] fix VersionPattern for Clang v15
  images/linux/scripts/SoftwareReport/SoftwareReport.Common.psm1
Labels: CI ubuntu-all

#8585 [Windows] Fix Java 21 location
  images/win/scripts/Installers/Install-JavaTools.ps1
Labels: CI windows-all

#8605 [windows] disable WindowsUpdate service
  images/win/scripts/Installers/Finalize-VM.ps1
Labels: CI windows-2019, CI windows-2022

#8622 [Windows] Rollback and pin Strawberry Perl
  images/win/toolsets/toolset-2019.json
  images/win/toolsets/toolset-2022.json
Labels: CI windows-all

#8612 [Ubuntu] Add checksum validation for Aliyun CLI, CMake, Docker Compose v2
  images/linux/scripts/helpers/install.sh
  images/linux/scripts/installers/aliyun-cli.sh
  images/linux/scripts/installers/cmake.sh
  images/linux/scripts/installers/docker.sh
Labels: CI ubuntu-all

#8596 [Ububntu] Add checksum validation for Kotlin, Minikube, AWS SAM CLI
  images/linux/scripts/installers/aws.sh
  images/linux/scripts/installers/kotlin.sh
  images/linux/scripts/installers/kubernetes-tools.sh
Labels: CI ubuntu-all

#8638 Revert "Remove Python 3.12 from the toolcache (#8510)"
  images/linux/toolsets/toolset-2004.json
  images/linux/toolsets/toolset-2204.json
  images/macos/toolsets/toolset-11.json
  images/macos/toolsets/toolset-12.json
  images/macos/toolsets/toolset-13.json
  images/win/toolsets/toolset-2019.json
  images/win/toolsets/toolset-2022.json
Labels: CI ubuntu-all, CI windows-all

#8652 [Ubuntu] Add PGP validation for swift
  images/linux/scripts/installers/swift.sh
Labels: CI ubuntu-all

#8678 [Windows] Remove out-of-support VS components
  images/win/toolsets/toolset-2022.json
Labels: CI windows-2022

#8682 Build of ubuntu22 image fails due to mismatch libssl1.1 version
  images/linux/scripts/installers/sqlpackage.sh
Labels: CI ubuntu-all
