Repository actions/runner-images, pull requests merged in 2023-06, with the labels that each got.

#7655 [Ubuntu] Update libssl package version
  images/linux/scripts/installers/sqlpackage.sh
Labels: CI ubuntu-2204

#7694 [Windows] Update Visual Studio VC Component
  images/win/toolsets/toolset-2022.json
Labels: CI windows-2022

#7717 [macOS] CodeQL: Simplify the toolcache version number for bundles tagged using semver
  images/macos/provision/core/codeql-bundle.sh
Labels: CI macos-all

#7718 [Windows] CodeQL: Simplify the toolcache version number for bundles tagged using semver
  images/win/scripts/Installers/Install-CodeQLBundle.ps1
Labels: CI windows-all

#7716 [Linux] CodeQL: Simplify the toolcache version number for bundles tagged using semver
  images/linux/scripts/installers/codeql-bundle.sh
Labels: CI ubuntu-all

#7709 Cache Android SDK packages list
  images/linux/scripts/helpers/Common.Helpers.psm1
  images/macos/software-report/SoftwareReport.Android.psm1
  images/win/scripts/ImageHelpers/InstallHelpers.ps1
Labels: Area: Android, CI ubuntu-all, CI windows-all, CI macos-all

#7732 Revert "[Windows] download MySQL from SA (#6769)"
  images/win/scripts/Installers/Install-MysqlCli.ps1
Labels: CI windows-2022, CI windows-2019

#7756 [Windows] Restore version 14.35 for Visual Studio VC build tools
  images/win/toolsets/toolset-2022.json
Labels: CI windows-all

#7751 [macOS] Add pkg-config to the software report
  images/macos/software-report/SoftwareReport.Generator.ps1
Labels: CI macos-11

#7768 [ubuntu] Add additional repos to cloud-init template
  images/linux/scripts/base/apt-ubuntu-archive.sh
Labels: CI ubuntu-2004, CI ubuntu-2204

#7801 [Windows] Rework common tools software report script
  images/win/scripts/SoftwareReport/SoftwareReport.Common.psm1
Labels: CI windows-all

#7817 [Ubuntu] do not check ssl cert for hhvm
  images/linux/scripts/installers/hhvm.sh
Labels: CI ubuntu-2004

#7813 [Windows] Remove .Net 3.1 as its EOL
  images/win/toolsets/toolset-2019.json
  images/win/toolsets/toolset-2022.json
Labels: CI windows-all

#7812 [Ubuntu] Remove .Net 3.1 as its EOL
  images/linux/toolsets/toolset-2004.json
Labels: CI ubuntu-2004

#7811 [macOS] Remove .Net 3.1 as its EOL
  images/macos/toolsets/toolset-11.json
  images/macos/toolsets/toolset-12.json
Labels: CI macos-all

#7810 [Ubuntu] Add alpine 3.18 docker image
  images/linux/toolsets/toolset-2004.json
  images/linux/toolsets/toolset-2204.json
Labels: CI ubuntu-all

#7769 Fix XCode simulators installation
  images/macos/helpers/Xcode.Installer.psm1
  images/macos/provision/core/xcode.ps1
  images/macos/tests/Xcode.Tests.ps1
Labels: CI macos-all
