Repository actions/runner-images, pull requests merged in 2023-12, with the labels that each got.

#8942 [Windows] Cleanup various scripts
  CONTRIBUTING.md
  images/windows/scripts/build/Configure-PowerShell.ps1
  images/windows/scripts/build/Install-AWSTools.ps1
  images/windows/scripts/build/Install-AliyunCli.ps1
  images/windows/scripts/build/Install-AzureCli.ps1
  images/windows/scripts/build/Install-AzureDevOpsCli.ps1
  images/windows/scripts/build/Install-Bazel.ps1
  images/windows/scripts/build/Install-Chocolatey.ps1
  images/windows/scripts/build/Install-Chrome.ps1
  images/windows/scripts/build/Install-Docker.ps1
  images/windows/scripts/build/Install-DockerWinCred.ps1
  images/windows/scripts/build/Install-DotnetSDK.ps1
  images/windows/scripts/build/Install-Firefox.ps1
  images/windows/scripts/build/Install-Git.ps1
  images/windows/scripts/build/Install-GitHub-CLI.ps1
  images/windows/scripts/build/Install-Haskell.ps1
  images/windows/scripts/build/Install-IEWebDriver.ps1
  images/windows/scripts/build/Install-JavaTools.ps1
  images/windows/scripts/build/Install-Kotlin.ps1
  images/windows/scripts/build/Install-KubernetesTools.ps1
  images/windows/scripts/build/Install-Mingw64.ps1
  images/windows/scripts/build/Install-Miniconda.ps1
  images/windows/scripts/build/Install-MongoDB.ps1
  images/windows/scripts/build/Install-Msys2.ps1
  images/windows/scripts/build/Install-MysqlCli.ps1
  images/windows/scripts/build/Install-Pipx.ps1
  images/windows/scripts/build/Install-PostgreSQL.ps1
  images/windows/scripts/build/Install-PowerShellModules.ps1
  images/windows/scripts/build/Install-PowershellCore.ps1
  images/windows/scripts/build/Install-RootCA.ps1
  images/windows/scripts/build/Install-Ruby.ps1
  images/windows/scripts/build/Install-Runner.ps1
  images/windows/scripts/build/Install-Rust.ps1
  images/windows/scripts/build/Install-SQLPowerShellTools.ps1
  images/windows/scripts/build/Install-ServiceFabricSDK.ps1
  images/windows/scripts/build/Install-Stack.ps1
  images/windows/scripts/build/Install-Toolset.ps1
  images/windows/scripts/build/Install-VCRedist.ps1
  images/windows/scripts/build/Install-VisualStudio.ps1
  images/windows/scripts/build/Install-WebPlatformInstaller.ps1
  images/windows/scripts/build/Install-WinAppDriver.ps1
  images/windows/scripts/build/Install-WindowsFeatures.ps1
  images/windows/scripts/build/Install-WindowsUpdates.ps1
  images/windows/scripts/build/Install-Zstd.ps1
  images/windows/scripts/docs-gen/SoftwareReport.CachedTools.psm1
  images/windows/scripts/docs-gen/SoftwareReport.Common.psm1
  images/windows/scripts/docs-gen/SoftwareReport.Helpers.psm1
  images/windows/scripts/docs-gen/SoftwareReport.Java.psm1
  images/windows/scripts/docs-gen/SoftwareReport.Tools.psm1
  images/windows/scripts/helpers/ChocoHelpers.ps1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/helpers/PathHelpers.ps1
  images/windows/scripts/helpers/VisualStudioHelpers.ps1
  images/windows/scripts/tests/Haskell.Tests.ps1
  images/windows/scripts/tests/Java.Tests.ps1
Labels: CI windows-all

#8938 [ubuntu] Refactor test helpers
  images/ubuntu/scripts/tests/Databases.Tests.ps1
  images/ubuntu/scripts/tests/Helpers.psm1
  images/ubuntu/scripts/tests/Java.Tests.ps1
  images/ubuntu/scripts/tests/Tools.Tests.ps1
Labels: CI ubuntu-2004, CI ubuntu-2204

#8954 [ubuntu] Refactor Software Report helpers
  images/ubuntu/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/ubuntu/scripts/docs-gen/SoftwareReport.Android.psm1
  images/ubuntu/scripts/docs-gen/SoftwareReport.Browsers.psm1
  images/ubuntu/scripts/docs-gen/SoftwareReport.CachedTools.psm1
  images/ubuntu/scripts/docs-gen/SoftwareReport.Common.psm1
  images/ubuntu/scripts/docs-gen/SoftwareReport.Databases.psm1
  images/ubuntu/scripts/docs-gen/SoftwareReport.Helpers.psm1
  images/ubuntu/scripts/docs-gen/SoftwareReport.Java.psm1
  images/ubuntu/scripts/docs-gen/SoftwareReport.Rust.psm1
  images/ubuntu/scripts/docs-gen/SoftwareReport.Tools.psm1
  images/ubuntu/scripts/docs-gen/SoftwareReport.WebServers.psm1
Labels: CI ubuntu-all

#8948 [ubuntu] Refactor Toolset functions
  images/ubuntu/scripts/docs-gen/SoftwareReport.Android.psm1
  images/ubuntu/scripts/helpers/Common.Helpers.psm1
  images/ubuntu/scripts/helpers/install.sh
  images/ubuntu/scripts/tests/Android.Tests.ps1
Labels: CI ubuntu-all

#8947 [ubuntu] Refactor GitHub package download URL function
  images/ubuntu/scripts/build/install-actions-cache.sh
  images/ubuntu/scripts/build/install-aliyun-cli.sh
  images/ubuntu/scripts/build/install-cmake.sh
  images/ubuntu/scripts/build/install-docker.sh
  images/ubuntu/scripts/build/install-firefox.sh
  images/ubuntu/scripts/build/install-github-cli.sh
  images/ubuntu/scripts/build/install-kotlin.sh
  images/ubuntu/scripts/build/install-kubernetes-tools.sh
  images/ubuntu/scripts/build/install-oras-cli.sh
  images/ubuntu/scripts/build/install-runner-package.sh
  images/ubuntu/scripts/build/install-sbt.sh
  images/ubuntu/scripts/build/install-selenium.sh
  images/ubuntu/scripts/helpers/install.sh
Labels: CI ubuntu-all

#8980 [ubuntu] Refactor android sdk build script
  images/ubuntu/scripts/build/install-android-sdk.sh
  images/ubuntu/scripts/helpers/install.sh
Labels: CI ubuntu-all

#8981 [Windows] Update Resolve-GithubReleaseAssetUrl function
  images/windows/scripts/build/Install-Selenium.ps1
  images/windows/scripts/helpers/InstallHelpers.ps1
Labels: CI windows-all

#8957 [Windows] Apply code style rules to Windows scripts
  images/windows/scripts/build/Configure-BaseImage.ps1
  images/windows/scripts/build/Configure-DeveloperMode.ps1
  images/windows/scripts/build/Configure-DynamicPort.ps1
  images/windows/scripts/build/Configure-GDIProcessHandleQuota.ps1
  images/windows/scripts/build/Configure-ImageDataFile.ps1
  images/windows/scripts/build/Configure-PowerShell.ps1
  images/windows/scripts/build/Configure-System.ps1
  images/windows/scripts/build/Configure-SystemEnvironment.ps1
  images/windows/scripts/build/Configure-Toolset.ps1
  images/windows/scripts/build/Configure-User.ps1
  images/windows/scripts/build/Install-ActionsCache.ps1
  images/windows/scripts/build/Install-AzureCli.ps1
  images/windows/scripts/build/Install-AzureCosmosDbEmulator.ps1
  images/windows/scripts/build/Install-AzureDevOpsCli.ps1
  images/windows/scripts/build/Install-Bazel.ps1
  images/windows/scripts/build/Install-BizTalkBuildComponent.ps1
  images/windows/scripts/build/Install-Chocolatey.ps1
  images/windows/scripts/build/Install-Chrome.ps1
  images/windows/scripts/build/Install-CloudFoundryCli.ps1
  images/windows/scripts/build/Install-CodeQLBundle.ps1
  images/windows/scripts/build/Install-DACFx.ps1
  images/windows/scripts/build/Install-DotnetSDK.ps1
  images/windows/scripts/build/Install-Firefox.ps1
  images/windows/scripts/build/Install-Git.ps1
  images/windows/scripts/build/Install-Haskell.ps1
  images/windows/scripts/build/Install-Miniconda.ps1
  images/windows/scripts/build/Install-MongoDB.ps1
  images/windows/scripts/build/Install-Msys2.ps1
  images/windows/scripts/build/Install-MysqlCli.ps1
  images/windows/scripts/build/Install-NET48-devpack.ps1
  images/windows/scripts/build/Install-NET48.ps1
  images/windows/scripts/build/Install-NSIS.ps1
  images/windows/scripts/build/Install-NativeImages.ps1
  images/windows/scripts/build/Install-NodeJS.ps1
  images/windows/scripts/build/Install-OpenSSL.ps1
  images/windows/scripts/build/Install-Pipx.ps1
  images/windows/scripts/build/Install-PostgreSQL.ps1
  images/windows/scripts/build/Install-PowershellAzModules.ps1
  images/windows/scripts/build/Install-PowershellCore.ps1
  images/windows/scripts/build/Install-PyPy.ps1
  images/windows/scripts/build/Install-RootCA.ps1
  images/windows/scripts/build/Install-Rust.ps1
  images/windows/scripts/build/Install-Stack.ps1
  images/windows/scripts/build/Install-Toolset.ps1
  images/windows/scripts/build/Install-Vcpkg.ps1
  images/windows/scripts/build/Install-WindowsFeatures.ps1
  images/windows/scripts/docs-gen/SoftwareReport.Tools.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/tests/Databases.Tests.ps1
  images/windows/scripts/tests/Tools.Tests.ps1
  images/windows/scripts/tests/Toolset.Tests.ps1
  images/windows/scripts/tests/WindowsFeatures.Tests.ps1
  images/windows/templates/windows-2019.json
  images/windows/templates/windows-2022.json
Labels: CI windows-all

#9019 Pin Azure plugin version in packer templates
  images/ubuntu/templates/ubuntu-20.04.pkr.hcl
  images/ubuntu/templates/ubuntu-22.04.pkr.hcl
  images/ubuntu/templates/ubuntu-minimal.pkr.hcl
  images/windows/templates/windows-2019.pkr.hcl
  images/windows/templates/windows-2022.pkr.hcl
Labels: CI ubuntu-all, CI windows-all

#9025 [windows] fix extracting checksum for Miniconda installer
  images/windows/scripts/build/Install-Miniconda.ps1
Labels: CI windows-2019, CI windows-2022

#9006 [ubuntu] Refactor pester tests
  images/ubuntu/scripts/tests/ActionArchiveCache.Tests.ps1
  images/ubuntu/scripts/tests/Android.Tests.ps1
  images/ubuntu/scripts/tests/Apt.Tests.ps1
  images/ubuntu/scripts/tests/CLI.Tools.Tests.ps1
  images/ubuntu/scripts/tests/Common.Tests.ps1
  images/ubuntu/scripts/tests/Databases.Tests.ps1
  images/ubuntu/scripts/tests/DotnetSDK.Tests.ps1
  images/ubuntu/scripts/tests/Haskell.Tests.ps1
  images/ubuntu/scripts/tests/Helpers.psm1
  images/ubuntu/scripts/tests/Java.Tests.ps1
  images/ubuntu/scripts/tests/Node.Tests.ps1
  images/ubuntu/scripts/tests/PowerShellModules.Tests.ps1
  images/ubuntu/scripts/tests/RunnerCache.Tests.ps1
  images/ubuntu/scripts/tests/Tools.Tests.ps1
  images/ubuntu/scripts/tests/Toolset.Tests.ps1
Labels: CI ubuntu-all

#9005 [windows] pin checksum where available
  images/windows/scripts/build/Install-MysqlCli.ps1
  images/windows/scripts/build/Install-NET48-devpack.ps1
  images/windows/scripts/build/Install-NET48.ps1
  images/windows/scripts/build/Install-ServiceFabricSDK.ps1
  images/windows/scripts/build/Install-VCRedist.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2019, CI windows-2022

#9036 [windows] Update signature for Edge Web Driver
  images/windows/scripts/build/Install-EdgeDriver.ps1
Labels: CI windows-all

#9022 [Ubuntu] Force ruby gem to check gems
  images/ubuntu/scripts/build/install-ruby.sh
Labels: CI ubuntu-all

#9056 [windows] Update signature for Edge Web Driver
  images/windows/scripts/build/Install-EdgeDriver.ps1
Labels: CI windows-all

#9040 [ubuntu] Refactor functions for GitHub assets and hashes
  images/ubuntu/scripts/build/install-actions-cache.sh
  images/ubuntu/scripts/build/install-aliyun-cli.sh
  images/ubuntu/scripts/build/install-aws-tools.sh
  images/ubuntu/scripts/build/install-cmake.sh
  images/ubuntu/scripts/build/install-docker.sh
  images/ubuntu/scripts/build/install-github-cli.sh
  images/ubuntu/scripts/build/install-kotlin.sh
  images/ubuntu/scripts/build/install-kubernetes-tools.sh
  images/ubuntu/scripts/build/install-oras-cli.sh
  images/ubuntu/scripts/build/install-pulumi.sh
  images/ubuntu/scripts/build/install-runner-package.sh
  images/ubuntu/scripts/build/install-selenium.sh
  images/ubuntu/scripts/build/install-yq.sh
  images/ubuntu/scripts/build/install-zstd.sh
  images/ubuntu/scripts/helpers/install.sh
Labels: CI ubuntu-all

#9055 [ubuntu] Refactor bash functions
  images/ubuntu/scripts/build/configure-dpkg.sh
  images/ubuntu/scripts/build/configure-environment.sh
  images/ubuntu/scripts/build/configure-snap.sh
  images/ubuntu/scripts/build/configure-system.sh
  images/ubuntu/scripts/build/install-actions-cache.sh
  images/ubuntu/scripts/build/install-aliyun-cli.sh
  images/ubuntu/scripts/build/install-android-sdk.sh
  images/ubuntu/scripts/build/install-azure-devops-cli.sh
  images/ubuntu/scripts/build/install-clang.sh
  images/ubuntu/scripts/build/install-container-tools.sh
  images/ubuntu/scripts/build/install-docker.sh
  images/ubuntu/scripts/build/install-dotnetcore-sdk.sh
  images/ubuntu/scripts/build/install-firefox.sh
  images/ubuntu/scripts/build/install-gcc-compilers.sh
  images/ubuntu/scripts/build/install-gfortran.sh
  images/ubuntu/scripts/build/install-google-chrome.sh
  images/ubuntu/scripts/build/install-haskell.sh
  images/ubuntu/scripts/build/install-homebrew.sh
  images/ubuntu/scripts/build/install-java-tools.sh
  images/ubuntu/scripts/build/install-leiningen.sh
  images/ubuntu/scripts/build/install-microsoft-edge.sh
  images/ubuntu/scripts/build/install-miniconda.sh
  images/ubuntu/scripts/build/install-mongodb.sh
  images/ubuntu/scripts/build/install-mono.sh
  images/ubuntu/scripts/build/install-nvm.sh
  images/ubuntu/scripts/build/install-php.sh
  images/ubuntu/scripts/build/install-postgresql.sh
  images/ubuntu/scripts/build/install-pypy.sh
  images/ubuntu/scripts/build/install-python.sh
  images/ubuntu/scripts/build/install-rlang.sh
  images/ubuntu/scripts/build/install-rust.sh
  images/ubuntu/scripts/build/install-selenium.sh
  images/ubuntu/scripts/build/install-sqlpackage.sh
  images/ubuntu/scripts/build/install-swift.sh
  images/ubuntu/scripts/build/install-vcpkg.sh
  images/ubuntu/scripts/helpers/etc-environment.sh
  images/ubuntu/scripts/helpers/install.sh
  images/ubuntu/scripts/helpers/os.sh
Labels: CI ubuntu-all

#9064 [ubuntu] Refactor PowerShell build scripts
  images/ubuntu/scripts/build/Configure-Toolset.ps1
  images/ubuntu/scripts/build/Install-PowerShellAzModules.ps1
  images/ubuntu/scripts/build/Install-PowerShellModules.ps1
  images/ubuntu/scripts/build/Install-Toolset.ps1
  images/ubuntu/scripts/helpers/Common.Helpers.psm1
Labels: CI ubuntu-all

#9076 [ubuntu] Cleanup bash scripts
  images/ubuntu/scripts/build/cleanup.sh
  images/ubuntu/scripts/build/configure-apt-mock.sh
  images/ubuntu/scripts/build/configure-apt-sources.sh
  images/ubuntu/scripts/build/configure-environment.sh
  images/ubuntu/scripts/build/configure-snap.sh
  images/ubuntu/scripts/build/configure-system.sh
  images/ubuntu/scripts/build/install-actions-cache.sh
  images/ubuntu/scripts/build/install-apt-common.sh
  images/ubuntu/scripts/build/install-apt-vital.sh
  images/ubuntu/scripts/build/install-azcopy.sh
  images/ubuntu/scripts/build/install-azure-cli.sh
  images/ubuntu/scripts/build/install-bazel.sh
  images/ubuntu/scripts/build/install-bicep.sh
  images/ubuntu/scripts/build/install-cmake.sh
  images/ubuntu/scripts/build/install-codeql-bundle.sh
  images/ubuntu/scripts/build/install-container-tools.sh
  images/ubuntu/scripts/build/install-docker-compose.sh
  images/ubuntu/scripts/build/install-docker.sh
  images/ubuntu/scripts/build/install-dotnetcore-sdk.sh
  images/ubuntu/scripts/build/install-erlang.sh
  images/ubuntu/scripts/build/install-firefox.sh
  images/ubuntu/scripts/build/install-gfortran.sh
  images/ubuntu/scripts/build/install-git.sh
  images/ubuntu/scripts/build/install-github-cli.sh
  images/ubuntu/scripts/build/install-google-chrome.sh
  images/ubuntu/scripts/build/install-haskell.sh
  images/ubuntu/scripts/build/install-heroku.sh
  images/ubuntu/scripts/build/install-hhvm.sh
  images/ubuntu/scripts/build/install-java-tools.sh
  images/ubuntu/scripts/build/install-kotlin.sh
  images/ubuntu/scripts/build/install-kubernetes-tools.sh
  images/ubuntu/scripts/build/install-microsoft-edge.sh
  images/ubuntu/scripts/build/install-mongodb.sh
  images/ubuntu/scripts/build/install-mono.sh
  images/ubuntu/scripts/build/install-ms-repos.sh
  images/ubuntu/scripts/build/install-mysql.sh
  images/ubuntu/scripts/build/install-nodejs.sh
  images/ubuntu/scripts/build/install-nvm.sh
  images/ubuntu/scripts/build/install-oc-cli.sh
  images/ubuntu/scripts/build/install-oras-cli.sh
  images/ubuntu/scripts/build/install-packer.sh
  images/ubuntu/scripts/build/install-phantomjs.sh
  images/ubuntu/scripts/build/install-php.sh
  images/ubuntu/scripts/build/install-pipx-packages.sh
  images/ubuntu/scripts/build/install-postgresql.sh
  images/ubuntu/scripts/build/install-powershell.sh
  images/ubuntu/scripts/build/install-pypy.sh
  images/ubuntu/scripts/build/install-python.sh
  images/ubuntu/scripts/build/install-rlang.sh
  images/ubuntu/scripts/build/install-ruby.sh
  images/ubuntu/scripts/build/install-selenium.sh
  images/ubuntu/scripts/build/install-sqlpackage.sh
  images/ubuntu/scripts/build/install-swift.sh
  images/ubuntu/scripts/build/install-yq.sh
  images/ubuntu/scripts/build/install-zstd.sh
  images/ubuntu/scripts/helpers/os.sh
Labels: CI ubuntu-all

#9082 [ubuntu] Remove apt-key from build scripts
  images/ubuntu/scripts/build/install-container-tools.sh
  images/ubuntu/scripts/build/install-heroku.sh
  images/ubuntu/scripts/build/install-hhvm.sh
  images/ubuntu/scripts/build/install-mongodb.sh
  images/ubuntu/scripts/build/install-mono.sh
Labels: CI ubuntu-all
