Repository actions/runner-images, pull requests merged in 2023-11, with the labels that each got.

#8704 fix: checksum search for Kotlin
  images/linux/scripts/installers/kotlin.sh
  images/win/scripts/Installers/Install-Kotlin.ps1
Labels: CI ubuntu-all, CI windows-all

#8714 [Ubuntu] Pin bindgen cli version to avoid bug
  images/linux/scripts/installers/rust.sh
Labels: CI ubuntu-all

#8660 [Ubuntu] Add more checksum validations
  images/linux/scripts/helpers/install.sh
  images/linux/scripts/installers/docker-compose.sh
  images/linux/scripts/installers/docker.sh
  images/linux/scripts/installers/github-cli.sh
  images/linux/scripts/installers/kubernetes-tools.sh
  images/linux/scripts/installers/oras-cli.sh
  images/linux/scripts/installers/pulumi.sh
  images/linux/scripts/installers/yq.sh
  images/linux/scripts/installers/zstd.sh
Labels: CI ubuntu-all

#8713 [Windows] Pin bindgen cli version to avoid bug
  images/win/scripts/Installers/Install-Rust.ps1
Labels: CI windows-all

#8702 Add gfortran-13 to ubuntu:22.04
  images/linux/toolsets/toolset-2204.json
Labels: CI ubuntu-all

#8711 [ubuntu] split git and git-lfs into separate install scripts
  images/linux/scripts/installers/git-lfs.sh
  images/linux/scripts/installers/git.sh
  images/linux/scripts/tests/Tools.Tests.ps1
  images/linux/ubuntu2004.json
  images/linux/ubuntu2204.pkr.hcl
  images/linux/ubuntuminimal.pkr.hcl
Labels: CI ubuntu-all

#8750 [Windows] Remove Android SDK Patch applier v4
  images/linux/scripts/tests/Android.Tests.ps1
  images/win/toolsets/toolset-2019.json
  images/win/toolsets/toolset-2022.json
Labels: CI windows-all

#8688 [windows] split docker install into 3 scripts
  images/win/scripts/Installers/Install-Docker-Compose.ps1
  images/win/scripts/Installers/Install-Docker-WinCred.ps1
  images/win/scripts/Installers/Install-Docker.ps1
  images/win/scripts/Tests/Docker.Tests.ps1
  images/win/windows2019.json
  images/win/windows2022.json
Labels: CI windows-2019, CI windows-2022

#8745 [Ubuntu] Remove Android NDK r23
  images/linux/toolsets/toolset-2004.json
  images/linux/toolsets/toolset-2204.json
Labels: CI ubuntu-all

#8746 [Windows] Remove Android NDK r23
  images/win/toolsets/toolset-2019.json
  images/win/toolsets/toolset-2022.json
Labels: CI windows-all

#8771 [Windows] Adjust services handling in Finalize-VM and helpers
  images/win/scripts/ImageHelpers/InstallHelpers.ps1
  images/win/scripts/Installers/Finalize-VM.ps1
Labels: CI windows-all

#8792 [Windows] Update Windows Driver Kit version
  images/windows/scripts/build/Install-WDK.ps1
Labels: CI windows-2022

#8799 [Ubuntu] Pin SHA256 for PhantomJS and libssl1.1
  images/ubuntu/scripts/build/phantomjs.sh
  images/ubuntu/scripts/build/sqlpackage.sh
Labels: CI ubuntu-all

#8790 [Ubuntu] Pin sha256 for docker-compose and Alibaba Cloud CLI
  images/ubuntu/scripts/build/aliyun-cli.sh
  images/ubuntu/scripts/build/docker-compose.sh
  images/ubuntu/toolsets/toolset-2004.json
Labels: CI ubuntu-all

#8844 [Windows] Fix signature for MS Edge webdriver
  images/windows/scripts/build/Install-EdgeDriver.ps1
Labels: CI windows-all

#8875 [Windows] Update helper name to Expand-7ZipArchive
  images/windows/scripts/build/Install-ActionsCache.ps1
  images/windows/scripts/build/Install-AliyunCli.ps1
  images/windows/scripts/build/Install-AndroidSDK.ps1
  images/windows/scripts/build/Install-BizTalkBuildComponent.ps1
  images/windows/scripts/build/Install-Chrome.ps1
  images/windows/scripts/build/Install-CloudFoundryCli.ps1
  images/windows/scripts/build/Install-CodeQLBundle.ps1
  images/windows/scripts/build/Install-EdgeDriver.ps1
  images/windows/scripts/build/Install-Firefox.ps1
  images/windows/scripts/build/Install-IEWebDriver.ps1
  images/windows/scripts/build/Install-JavaTools.ps1
  images/windows/scripts/build/Install-Kotlin.ps1
  images/windows/scripts/build/Install-Mingw64.ps1
  images/windows/scripts/build/Install-PyPy.ps1
  images/windows/scripts/build/Install-Ruby.ps1
  images/windows/scripts/build/Install-Stack.ps1
  images/windows/scripts/build/Install-Toolset.ps1
  images/windows/scripts/build/Install-Zstd.ps1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
Labels: CI windows-all

#8871 [Windows] Unify services handling
  images/windows/scripts/build/Configure-System.ps1
  images/windows/scripts/build/Install-Apache.ps1
  images/windows/scripts/build/Install-Chrome.ps1
  images/windows/scripts/build/Install-MongoDB.ps1
  images/windows/scripts/build/Install-Nginx.ps1
  images/windows/scripts/build/Install-PostgreSQL.ps1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
Labels: CI windows-all

#8889 [Windows] Update test helpers
  images/windows/scripts/tests/Haskell.Tests.ps1
  images/windows/scripts/tests/Helpers.psm1
  images/windows/scripts/tests/Java.Tests.ps1
  images/windows/scripts/tests/MSYS2.Tests.ps1
  images/windows/scripts/tests/Toolset.Tests.ps1
Labels: CI windows-all

#8877 [Windows] Refactor script installing Android SDK and packages
  images/windows/scripts/build/Install-AndroidSDK.ps1
  images/windows/scripts/docs-gen/SoftwareReport.Android.psm1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/tests/Android.Tests.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#8878 [Windows] Update helper function that returns Windows Update states
  images/windows/scripts/build/Install-WindowsUpdates.ps1
  images/windows/scripts/build/Install-WindowsUpdatesAfterReboot.ps1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/tests/WindowsFeatures.Tests.ps1
Labels: CI windows-all

#8901 [windows] update NSIS to 3.09
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2019, CI windows-2022

#8899 [Windows] Reimplement function resolving GH asset
  images/windows/scripts/build/Install-ActionsCache.ps1
  images/windows/scripts/build/Install-IEWebDriver.ps1
  images/windows/scripts/build/Install-Kotlin.ps1
  images/windows/scripts/build/Install-Mingw64.ps1
  images/windows/scripts/build/Install-Selenium.ps1
  images/windows/scripts/docs-gen/SoftwareReport.Browsers.psm1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/tests/Browsers.Tests.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#8904 [ubuntu] Unify approach to /etc/environment
  images/ubuntu/scripts/build/configure-dpkg.sh
  images/ubuntu/scripts/build/configure-environment.sh
  images/ubuntu/scripts/build/configure-system.sh
  images/ubuntu/scripts/build/install-actions-cache.sh
  images/ubuntu/scripts/build/install-android-sdk.sh
  images/ubuntu/scripts/build/install-azure-devops-cli.sh
  images/ubuntu/scripts/build/install-firefox.sh
  images/ubuntu/scripts/build/install-google-chrome.sh
  images/ubuntu/scripts/build/install-java-tools.sh
  images/ubuntu/scripts/build/install-leiningen.sh
  images/ubuntu/scripts/build/install-microsoft-edge.sh
  images/ubuntu/scripts/build/install-miniconda.sh
  images/ubuntu/scripts/build/install-nvm.sh
  images/ubuntu/scripts/build/install-selenium.sh
  images/ubuntu/scripts/build/install-swift.sh
  images/ubuntu/scripts/build/install-vcpkg.sh
  images/ubuntu/scripts/helpers/etc-environment.sh
Labels: CI ubuntu-all

#8905 [ubuntu] Change echo to printf for escape sequences
  images/ubuntu/scripts/build/install-container-tools.sh
  images/ubuntu/scripts/helpers/install.sh
Labels: CI ubuntu-all

#8880 [Windows] Rename the Invoke-SBWithRetry function
  images/windows/scripts/build/Install-AndroidSDK.ps1
  images/windows/scripts/build/Install-JavaTools.ps1
  images/windows/scripts/build/Install-PyPy.ps1
  images/windows/scripts/build/Install-Ruby.ps1
  images/windows/scripts/build/Install-Toolset.ps1
  images/windows/scripts/build/Install-VSExtensions.ps1
  images/windows/scripts/build/Install-WindowsUpdatesAfterReboot.ps1
  images/windows/scripts/build/Install-Zstd.ps1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/tests/Tools.Tests.ps1
Labels: CI windows-all

#8885 [Windows] Refactor PATH helpers
  images/windows/scripts/build/Configure-System.ps1
  images/windows/scripts/build/Install-Git.ps1
  images/windows/scripts/build/Install-Haskell.ps1
  images/windows/scripts/build/Install-JavaTools.ps1
  images/windows/scripts/build/Install-Mercurial.ps1
  images/windows/scripts/build/Install-NSIS.ps1
  images/windows/scripts/build/Install-NodeJS.ps1
  images/windows/scripts/build/Install-OpenSSL.ps1
  images/windows/scripts/build/Install-Vcpkg.ps1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/helpers/PathHelpers.ps1
  images/windows/scripts/helpers/test/PathHelpers.Tests.ps1
  images/windows/scripts/tests/Helpers.psm1
Labels: CI windows-all

#8906 [Windows] Rename and refactor downloading function
  images/windows/scripts/build/Install-ActionsCache.ps1
  images/windows/scripts/build/Install-AliyunCli.ps1
  images/windows/scripts/build/Install-AndroidSDK.ps1
  images/windows/scripts/build/Install-BizTalkBuildComponent.ps1
  images/windows/scripts/build/Install-Chocolatey.ps1
  images/windows/scripts/build/Install-Chrome.ps1
  images/windows/scripts/build/Install-CloudFoundryCli.ps1
  images/windows/scripts/build/Install-CodeQLBundle.ps1
  images/windows/scripts/build/Install-Docker.ps1
  images/windows/scripts/build/Install-DockerCompose.ps1
  images/windows/scripts/build/Install-DockerWinCred.ps1
  images/windows/scripts/build/Install-DotnetSDK.ps1
  images/windows/scripts/build/Install-EdgeDriver.ps1
  images/windows/scripts/build/Install-Firefox.ps1
  images/windows/scripts/build/Install-Haskell.ps1
  images/windows/scripts/build/Install-IEWebDriver.ps1
  images/windows/scripts/build/Install-JavaTools.ps1
  images/windows/scripts/build/Install-Kotlin.ps1
  images/windows/scripts/build/Install-KubernetesTools.ps1
  images/windows/scripts/build/Install-Mingw64.ps1
  images/windows/scripts/build/Install-Msys2.ps1
  images/windows/scripts/build/Install-PyPy.ps1
  images/windows/scripts/build/Install-Ruby.ps1
  images/windows/scripts/build/Install-Runner.ps1
  images/windows/scripts/build/Install-Rust.ps1
  images/windows/scripts/build/Install-Selenium.ps1
  images/windows/scripts/build/Install-Stack.ps1
  images/windows/scripts/build/Install-Toolset.ps1
  images/windows/scripts/build/Install-Zstd.ps1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/helpers/VisualStudioHelpers.ps1
Labels: CI windows-all

#8912 [Ubuntu] Rewrite function download_with_retry
  images/ubuntu/scripts/build/install-actions-cache.sh
  images/ubuntu/scripts/build/install-aliyun-cli.sh
  images/ubuntu/scripts/build/install-android-sdk.sh
  images/ubuntu/scripts/build/install-aws-tools.sh
  images/ubuntu/scripts/build/install-azcopy.sh
  images/ubuntu/scripts/build/install-bicep.sh
  images/ubuntu/scripts/build/install-codeql-bundle.sh
  images/ubuntu/scripts/build/install-docker.sh
  images/ubuntu/scripts/build/install-dotnetcore-sdk.sh
  images/ubuntu/scripts/build/install-erlang.sh
  images/ubuntu/scripts/build/install-firefox.sh
  images/ubuntu/scripts/build/install-github-cli.sh
  images/ubuntu/scripts/build/install-google-chrome.sh
  images/ubuntu/scripts/build/install-java-tools.sh
  images/ubuntu/scripts/build/install-julia.sh
  images/ubuntu/scripts/build/install-kotlin.sh
  images/ubuntu/scripts/build/install-microsoft-edge.sh
  images/ubuntu/scripts/build/install-oc-cli.sh
  images/ubuntu/scripts/build/install-oras-cli.sh
  images/ubuntu/scripts/build/install-packer.sh
  images/ubuntu/scripts/build/install-phantomjs.sh
  images/ubuntu/scripts/build/install-pulumi.sh
  images/ubuntu/scripts/build/install-pypy.sh
  images/ubuntu/scripts/build/install-ruby.sh
  images/ubuntu/scripts/build/install-runner-package.sh
  images/ubuntu/scripts/build/install-sbt.sh
  images/ubuntu/scripts/build/install-selenium.sh
  images/ubuntu/scripts/build/install-sqlpackage.sh
  images/ubuntu/scripts/build/install-swift.sh
  images/ubuntu/scripts/build/install-terraform.sh
  images/ubuntu/scripts/build/install-yq.sh
  images/ubuntu/scripts/build/install-zstd.sh
  images/ubuntu/scripts/docs-gen/SoftwareReport.Browsers.psm1
  images/ubuntu/scripts/helpers/install.sh
  images/ubuntu/scripts/tests/Tools.Tests.ps1
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-all

#8886 [Windows] Refactor helpers that verify hashsum and signature
  images/windows/scripts/build/Install-AliyunCli.ps1
  images/windows/scripts/build/Install-AndroidSDK.ps1
  images/windows/scripts/build/Install-Chocolatey.ps1
  images/windows/scripts/build/Install-CloudFoundryCli.ps1
  images/windows/scripts/build/Install-DotnetSDK.ps1
  images/windows/scripts/build/Install-EdgeDriver.ps1
  images/windows/scripts/build/Install-Firefox.ps1
  images/windows/scripts/build/Install-JavaTools.ps1
  images/windows/scripts/build/Install-Kotlin.ps1
  images/windows/scripts/build/Install-KubernetesTools.ps1
  images/windows/scripts/build/Install-Msys2.ps1
  images/windows/scripts/build/Install-PyPy.ps1
  images/windows/scripts/build/Install-Rust.ps1
  images/windows/scripts/build/Install-Stack.ps1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/helpers/VisualStudioHelpers.ps1
Labels: CI windows-all

#8910 [ubuntu] Refactor Common.Helpers
  images/ubuntu/scripts/docs-gen/SoftwareReport.Common.psm1
  images/ubuntu/scripts/docs-gen/SoftwareReport.Helpers.psm1
  images/ubuntu/scripts/helpers/Common.Helpers.psm1
  images/ubuntu/scripts/tests/Android.Tests.ps1
  images/ubuntu/scripts/tests/Java.Tests.ps1
Labels: CI ubuntu-all

#8903 [Windows] Move Android and VS helpers to dedicated files
  images/windows/scripts/build/Install-VSExtensions.ps1
  images/windows/scripts/docs-gen/SoftwareReport.VisualStudio.psm1
  images/windows/scripts/helpers/AndroidHelpers.ps1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/helpers/VisualStudioHelpers.ps1
  images/windows/scripts/tests/VisualStudio.Tests.ps1
  images/windows/scripts/tests/Vsix.Tests.ps1
Labels: CI windows-all

#8917 [Windows] Update functions that get urls and hashes from Github
  images/windows/scripts/build/Install-AWSTools.ps1
  images/windows/scripts/build/Install-Git.ps1
  images/windows/scripts/build/Install-Kotlin.ps1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
Labels: CI windows-all
