Repository actions/runner-images, pull requests merged in 2023-07, with the labels that each got.

#7847 [Windows] Rm "-stable" part from rustfmt version
  images/win/scripts/SoftwareReport/SoftwareReport.Common.psm1
Labels: CI windows-all

#7865 [macos] propagate XCode install variables to github image generation
  .github/workflows/macos-generation.yml
Labels: Area: Apple, OS: macOS

#7866 [macos] add workaround for homebrew/core, homebrew/cask
  images/macos/provision/configuration/environment/bashrc
  images/macos/provision/core/homebrew.sh
Labels: CI macos-all

#7880 [macos] temporarily disable simulators on XCode-15
  images/macos/provision/core/xcode.ps1
Labels: Area: Apple, CI macos-11, CI macos-12

#7895 [MacOS] Change directory owner root => runner for .cache and .config in arm64
  images/macos/provision/core/powershell.sh
Labels: CI macos-all

#7868 [Windows] Disable Edge auto-updates
  images/win/scripts/Installers/Install-Edge.ps1
Labels: CI windows-all

#7803 [Mac OS] Add permissions for provisioner to Terminal and Screen recording
  images/macos/provision/configuration/configure-tccdb-macos.sh
Labels: CI macos-all

#7845 [ubuntu] include apt vital pkgs in software report
  images/linux/scripts/SoftwareReport/SoftwareReport.Common.psm1
Labels: CI ubuntu-all

#7909 Add trailing newline to bash_profile
  images/macos/provision/configuration/environment/bashprofile
Labels: CI macos-all

#7898 [macos] download XCode installer with retries
  images/macos/helpers/Xcode.Installer.psm1
Labels: CI macos-11, CI macos-12

#7893 [macOS] Access for TestCafe to the ScreenCapture
  images/macos/provision/configuration/configure-tccdb-macos.sh
Labels: CI macos-all

#7940 [Ubuntu] Fix chromedriver download process
  images/linux/scripts/installers/google-chrome.sh
Labels: CI ubuntu-all

#7932 [mac OS] Stop processing when unable to download release list from GitHub
  images/macos/provision/utils/utils.sh
Labels: CI macos-all

#7948 [Ubuntu] Temporarily hardcode chromium revision
  images/linux/scripts/installers/google-chrome.sh
Labels: CI ubuntu-all

#7952 revert PR7941
  .github/workflows/ubuntu-win-generation.yml
Labels: CI ubuntu-2004, CI ubuntu-2204

#7946 [Ubuntu] Install latest chromedriver for current build
  images/linux/scripts/installers/google-chrome.sh
Labels: CI ubuntu-all

#7942 [Windows] Fix chromedriver download process
  images/win/scripts/ImageHelpers/InstallHelpers.ps1
  images/win/scripts/Installers/Install-Chrome.ps1
Labels: CI windows-all

#7860 Enable `nf_conntrack_tcp_be_liberal` for Ubuntu 22.04 until kernel update
  images/linux/scripts/installers/configure-environment.sh
Labels: CI ubuntu-all

#7912 [macOS] Install swiftlint from Homebrew
  images/macos/provision/core/swiftlint.sh
Labels: CI macos-all

#7975 macOS bashrc: don't cleanup Homebrew on installation.
  images/macos/provision/configuration/environment/bashrc
Labels: CI macos-12

#7974 [macos] Add toolcache for arm
  images/macos/helpers/Common.Helpers.psm1
  images/macos/provision/core/configure-toolset.ps1
  images/macos/provision/core/pypy.sh
  images/macos/provision/core/ruby.sh
  images/macos/provision/core/toolset.ps1
  images/macos/templates/macOS-13.arm64.anka.pkr.hcl
  images/macos/tests/Toolcache.Tests.ps1
  images/macos/toolsets/toolset-11.json
  images/macos/toolsets/toolset-12.json
  images/macos/toolsets/toolset-13.json
Labels: CI macos-11, CI macos-12
