Repository actions/runner-images, pull requests merged in 2024-12, with the labels that each got.

#11068 [Windows] Exclude "installer" directory from deletion in Windows 2025
  images/windows/scripts/build/Invoke-Cleanup.ps1
Labels: CI windows-all

#11120 [Ubuntu] Add systemd-coredump
  images/ubuntu/scripts/tests/Apt.Tests.ps1
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-all

#11121 [Windows] Accept by default "Send Diagnostic data to Microsoft" consent for windows-2025 image
  images/windows/scripts/build/Configure-User.ps1
Labels: CI windows-2025

#11158 [Windows] Install "strawberryperl" right after "cmake" in windows-2025 image
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-2025

#11171 [windows] Update Visual Studio Software Report
  images/windows/scripts/docs-gen/SoftwareReport.VisualStudio.psm1
Labels: CI windows-all

#11118 [Windows] Add Microsoft.Net.Component.4.7.2.SDK to Windows toolset 2022
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2022

#11192 [Windows] Update EdgeDriver signature
  images/windows/scripts/build/Install-EdgeDriver.ps1
Labels: CI windows-all

#11224 [windows-2025] Install mongosh for ALLUSERS and enable test
  images/windows/scripts/build/Install-MongoDB.ps1
  images/windows/scripts/tests/Databases.Tests.ps1
Labels: CI windows-all

#11237 [Windows] Update EdgeDriver signature
  images/windows/scripts/build/Install-EdgeDriver.ps1
Labels: CI windows-all

#11242 [Windows] Add WSL2 to Windows-2025 image
  images/windows/scripts/build/Configure-System.ps1
  images/windows/scripts/build/Install-WSL2.ps1
  images/windows/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/windows/scripts/docs-gen/SoftwareReport.Tools.psm1
  images/windows/scripts/tests/WindowsFeatures.Tests.ps1
  images/windows/templates/windows-2025.pkr.hcl
Labels: CI windows-all

#11249 [windows] Add Android SDK and Tools 34 to windows-2025
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all
