Repository actions/runner-images, pull requests merged in 2024-01, with the labels that each got.

#9147 [windows] Add dynamic path for Get-ToolsetContent
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/templates/windows-2019.pkr.hcl
  images/windows/templates/windows-2022.pkr.hcl
Labels: CI windows-all

#9208 [Windows] Pin Docker 24.0.7 to avoid bugs
  images/windows/scripts/build/Install-Docker.ps1
  images/windows/scripts/build/Install-DockerCompose.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#9205 [Ubuntu] Pin Docker 24.0.7 to avoid bugs
  images/ubuntu/scripts/build/install-docker.sh
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-all

#9222 [ubuntu] Update PowerShell Core to 7.4.x
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-all

#9223 [windows] Update PowerShell Core to 7.4.x
  images/windows/scripts/build/Install-AzureCosmosDbEmulator.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#9233 [Ubuntu] Unpin AzCopy version to latest
  images/ubuntu/scripts/build/install-azcopy.sh
Labels: CI ubuntu-all

#9261 [Windows] Visual Studio 2022 signature updated
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2022
