Repository actions/runner-images, pull requests merged in 2024-09, with the labels that each got.

#10521 [Windows] Fix AzureCosmosDbEmulator signature issue for windows 2019 and 2022
  images/windows/scripts/build/Install-AzureCosmosDbEmulator.ps1
Labels: CI windows-2019, CI windows-2022

#10545 Add Packer tool to Ubuntu24.04 image
  images/ubuntu/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/ubuntu/scripts/tests/Tools.Tests.ps1
  images/ubuntu/templates/ubuntu-24.04.pkr.hcl
Labels: CI ubuntu-2404

#10549 [Windows] updated azure cli signature
  images/windows/scripts/build/Install-AzureCli.ps1
Labels: CI windows-2019, CI windows-2022

#10580 [Ubuntu-24] Go version 1.20 removed and 1.23 added
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-2404

#10578 [Ubuntu] Add swift version to ubuntu 24 image
  images/ubuntu/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/ubuntu/scripts/tests/Common.Tests.ps1
  images/ubuntu/templates/ubuntu-24.04.pkr.hcl
Labels: CI ubuntu-all

#10593 [Windows] Fix visual studio signature issue on windows 2019 image
  images/windows/scripts/helpers/VisualStudioHelpers.ps1
  images/windows/toolsets/toolset-2019.json
Labels: CI windows-all

#10589 [Ubuntu] Added firefox to Ubuntu24.04 image
  images/ubuntu/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/ubuntu/scripts/tests/Browsers.Tests.ps1
  images/ubuntu/templates/ubuntu-24.04.pkr.hcl
Labels: CI ubuntu-2404

#10634 [ubuntu] Add new Swift GPG key to unlock Ubuntu builds
  images/ubuntu/scripts/build/install-swift.sh
Labels: CI ubuntu-all
