Repository actions/runner-images, pull requests merged in 2024-06, with the labels that each got.

#9982 [Ubuntu, Windows] Update Docker tools versions
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
  images/windows/scripts/build/Install-DockerCompose.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI ubuntu-all, CI windows-all

#10014 [windows] Pin PostgreSQL and Update LLVM
  images/windows/scripts/build/Install-PostgreSQL.ps1
  images/windows/scripts/tests/Databases.Tests.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#10010 [windows] Modify TortoiseSVN installation
  images/windows/scripts/build/Install-TortoiseSvn.ps1
  images/windows/templates/windows-2019.pkr.hcl
  images/windows/templates/windows-2022.pkr.hcl
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#10024 [Ubuntu] disable apparmor
  images/ubuntu/scripts/build/configure-environment.sh
  images/ubuntu/scripts/tests/System.Tests.ps1
Labels: CI ubuntu-all

#10069 [Ubuntu] always install gfrotran
  images/ubuntu/scripts/build/install-gfortran.sh
Labels: CI ubuntu-all

#10092 [windows] Fix Google CLI signature for windows
  images/windows/scripts/build/Install-GoogleCloudCLI.ps1
Labels: CI windows-2019

#10111 [Ubuntu20] Pin public_suffix gem to 5.1.1
  images/ubuntu/scripts/build/install-ruby.sh
Labels: CI ubuntu-all

#10135 [windows] Fix Cloud-Foundry signature for windows
  images/windows/scripts/build/Install-CloudFoundryCli.ps1
Labels: CI windows-2019
