Repository actions/runner-images, pull requests merged in 2024-02, with the labels that each got.

#9232 [Ubuntu] Update Docker installer script
  images/ubuntu/scripts/build/install-docker.sh
  images/ubuntu/scripts/tests/Tools.Tests.ps1
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-all

#9321 [Windows] Add go 1.22
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#9319 [Ubuntu] Add go 1.22
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-all

#9348 [Windows] Update VS signature for windows-2019
  images/windows/toolsets/toolset-2019.json
Labels: CI windows-2019

#9324 [ubuntu] Fix error message redirection in install.sh
  images/ubuntu/scripts/helpers/install.sh
Labels: CI ubuntu-all

#9359 [Windows] Update downloadsPageUrl for mysql
  images/windows/scripts/build/Install-MysqlCli.ps1
Labels: CI windows-all

#9414 [windows] Update out-of-support VS 17.9 components
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#9428 [ubuntu] Update libssl1.1 version
  images/ubuntu/scripts/build/install-sqlpackage.sh
Labels: CI ubuntu-all
