Repository actions/runner-images, pull requests merged in 2024-07, with the labels that each got.

#10153 [Ubuntu] Fix Openshift CLI version for ubuntu 20
  images/ubuntu/scripts/build/install-oc-cli.sh
  images/ubuntu/toolsets/toolset-2004.json
Labels: CI ubuntu-2004

#10180 [Ubuntu] Add alpine 3.19 docker image
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
Labels: OS: Ubuntu

#10205 [Windows] Fix visual studio cli signature error for windows 2022
  images/windows/toolsets/toolset-2022.json
Labels: OS: Windows

#10243 [Windows] Fix google chrome signature error for windows
  images/windows/scripts/build/Install-Chrome.ps1
Labels: OS: Windows

#10126 [Ubuntu] Update Shell Script to Verify Azure CLI Availability
  images/ubuntu/scripts/build/install-azure-cli.sh
Labels: CI ubuntu-all
