Repository actions/runner-images, pull requests merged in 2024-10, with the labels that each got.

#10754 [Windows] Fix Visual Studio signature issue for windows 2022
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2022

#10761 [Ubuntu 20 and 22] Removing Go version 1.20*
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-2004, CI ubuntu-2204

#10763 [Ubuntu 20 and 22] Go version 1.23 added
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-2004, CI ubuntu-2204

#10780 [Ubuntu, Windows] Add RUNNER_TOOL_CACHE environment variable
  images/ubuntu/scripts/build/configure-environment.sh
  images/windows/scripts/build/Configure-SystemEnvironment.ps1
Labels: CI ubuntu-all, CI windows-all

#10808 [ Ubuntu 2024 ] Removing Node.js version 16*
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-2404

#10829 [Windows] Signature thumbprint updated for the edgedriver
  images/windows/scripts/build/Install-EdgeDriver.ps1
Labels: CI windows-all

#10811 [Ubuntu] Adding latest Node.js version 22* .
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-all
