Repository actions/runner-images, pull requests merged in 2024-05, with the labels that each got.

#9808 [Ubuntu] Add missing Java SDKs to Ubuntu 24.04
  images/ubuntu/scripts/build/install-java-tools.sh
  images/ubuntu/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/ubuntu/scripts/tests/Java.Tests.ps1
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-2404

#9819 [Windows] Remove all non-latest Visual Studio 2022 VC components except ComponentGroup.UWP.VC.v142
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#9825 [Ubuntu] Revert Podman, buildah and skopeo for Ubuntu-24.04
  images/ubuntu/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/ubuntu/scripts/tests/Tools.Tests.ps1
  images/ubuntu/templates/ubuntu-24.04.pkr.hcl
Labels: CI ubuntu-all

#9863 [Ubuntu] Patch azure-cli installer for Ubuntu 24.04
  images/ubuntu/scripts/build/install-azure-cli.sh
Labels: CI ubuntu-all

#9862 VisualStudioHelpers.ps1: stop enabling 8.3 filename creation
  images/windows/scripts/helpers/VisualStudioHelpers.ps1
Labels: CI windows-all

#9878 [Ubuntu] Add .NET SDKs 6 and 7 on Ubuntu 24.04
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-2404

#9875 [Windows] Update signature for Azure CosmosDb Emulator
  images/windows/scripts/build/Install-AzureCosmosDbEmulator.ps1
Labels: CI windows-all

#9824 [Ubuntu] Revert previously removed Docker tests
  images/ubuntu/scripts/build/install-docker.sh
  images/ubuntu/scripts/tests/Tools.Tests.ps1
Labels: CI ubuntu-all
