Repository actions/runner-images, pull requests merged in 2024-11, with the labels that each got.

#10881 [ubuntu-24] Add nvm and gcloud cli
  images/ubuntu/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/ubuntu/scripts/tests/CLI.Tools.Tests.ps1
  images/ubuntu/scripts/tests/Tools.Tests.ps1
  images/ubuntu/templates/ubuntu-24.04.pkr.hcl
Labels: CI ubuntu-all

#10976 [Windows] Adding Dotnet latest version 9.0
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#11026 [Windows] Update Visual Studio signature
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2022

#11030 [Windows] Updated the DACF thumbprint signature.
  images/windows/scripts/build/Install-DACFx.ps1
Labels: CI windows-all

#11056 [Windows] Update Kotlin pester test
  images/windows/scripts/tests/Tools.Tests.ps1
Labels: CI windows-all

#11037 [Windows] Add windows 2025 image
  images/windows/scripts/build/Configure-ImageDataFile.ps1
  images/windows/scripts/build/Configure-User.ps1
  images/windows/scripts/build/Install-Docker.ps1
  images/windows/scripts/build/Install-Haskell.ps1
  images/windows/scripts/build/Install-Mingw64.ps1
  images/windows/scripts/build/Install-MongoDB.ps1
  images/windows/scripts/build/Install-Rust.ps1
  images/windows/scripts/build/Install-VisualStudio.ps1
  images/windows/scripts/build/Invoke-Cleanup.ps1
  images/windows/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/windows/scripts/docs-gen/SoftwareReport.Databases.psm1
  images/windows/scripts/docs-gen/SoftwareReport.Tools.psm1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/tests/CLI.Tools.Tests.ps1
  images/windows/scripts/tests/ChocoPackages.Tests.ps1
  images/windows/scripts/tests/Databases.Tests.ps1
  images/windows/scripts/tests/Docker.Tests.ps1
  images/windows/scripts/tests/Haskell.Tests.ps1
  images/windows/scripts/tests/Rust.Tests.ps1
  images/windows/scripts/tests/Tools.Tests.ps1
  images/windows/scripts/tests/VisualStudio.Tests.ps1
  images/windows/scripts/tests/WDK.Tests.ps1
  images/windows/templates/windows-2025.pkr.hcl
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all

#11064 [Windows] Update Get-GithubReleasesByVersion function sorting
  images/windows/scripts/helpers/InstallHelpers.ps1
Labels: CI windows-all
