Repository actions/runner-images, pull requests merged in 2025-05, with the labels that each got.

#12122 [Windows 19 & Windows 22] Removing Node.js version 16*.
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2019, CI windows-2022

#12164 [Windows] Update Install-AzureCosmosDbEmulator.ps1 SHA256Sum
  images/windows/scripts/build/Install-AzureCosmosDbEmulator.ps1
Labels: CI windows-all

#12222 [Windows] Update AzureCli and AzureCosmosDbEmulator signature
  images/windows/scripts/build/Install-AzureCli.ps1
  images/windows/scripts/build/Install-AzureCosmosDbEmulator.ps1
Labels: CI windows-all

#12225 Bug: Mask `fwupd` timer on ubuntu images
  images/ubuntu/scripts/build/configure-environment.sh
  images/ubuntu/scripts/tests/System.Tests.ps1
Labels: CI ubuntu-all

#12264 [Windows] Update Toolsets for Windows Server 2019 and 2022 after PR merged #12247
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#12278 [Ubuntu 22] Removing Python version:3.8.*
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-2204

#12277 [Windows 19 & Windows 22]Removing Python version:3.8.*
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2019, CI windows-2022

#12276 [Windows 19 & Windows 22]Removing Ruby 3.0 and making 3.3 as a default version.
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2019, CI windows-2022

#12279 [Ubuntu 22] Update Node.js version 20 as the default.
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-2204

#12280 [Windows 22] Update Node.js version 20 as the default.
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2022
