Repository actions/runner-images, pull requests merged in 2025-07, with the labels that each got.

#12474 Validate authenticode signature using the certificate Subject
  images/windows/scripts/build/Install-AWSTools.ps1
  images/windows/scripts/build/Install-AzureCli.ps1
  images/windows/scripts/build/Install-BizTalkBuildComponent.ps1
  images/windows/scripts/build/Install-Chocolatey.ps1
  images/windows/scripts/build/Install-Chrome.ps1
  images/windows/scripts/build/Install-CloudFoundryCli.ps1
  images/windows/scripts/build/Install-DACFx.ps1
  images/windows/scripts/build/Install-EdgeDriver.ps1
  images/windows/scripts/build/Install-Firefox.ps1
  images/windows/scripts/build/Install-GoogleCloudCLI.ps1
  images/windows/scripts/build/Install-MongoDB.ps1
  images/windows/scripts/build/Install-MysqlCli.ps1
  images/windows/scripts/build/Install-PostgreSQL.ps1
  images/windows/scripts/build/Install-SQLOLEDBDriver.ps1
  images/windows/scripts/build/Install-SQLPowerShellTools.ps1
  images/windows/scripts/build/Install-VisualStudio.ps1
  images/windows/scripts/build/Install-WDK.ps1
  images/windows/scripts/build/Install-WebPlatformInstaller.ps1
  images/windows/scripts/build/Install-WinAppDriver.ps1
  images/windows/scripts/helpers/ImageHelpers.psm1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/scripts/helpers/VisualStudioHelpers.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all

#12501 [Windows22] Updating LLVM version to 20.
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2022

#12508 [Windows 2022] Update `strawberryperl` to `5.40.2.2`
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2022

#12375 [Windows 2025] Update `strawberryperl` to `5.40.2.2`
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-2025

#12480 [ubuntu] Unpin the minikube version
  images/ubuntu/scripts/build/install-kubernetes-tools.sh
Labels: CI ubuntu-2204, CI ubuntu-2404

#12534 [ubuntu] Update Ninja pester test
  images/ubuntu/scripts/tests/Tools.Tests.ps1
Labels: CI ubuntu-all

#12538 [windows-22] Upgrade Windows Driver Kit (WDK) to latest
  images/windows/scripts/build/Install-WDK.ps1
Labels: CI windows-all

#12563 chore: Add ppa candidate repo to install 2.50.1 version of git
  images/ubuntu/scripts/build/install-git.sh
Labels: CI ubuntu-all, CI ubuntu-2204

#12570 [Ubuntu] Improve kubectl installation script with retry logic and keyring checks
  images/ubuntu/scripts/build/install-kubernetes-tools.sh
Labels: CI ubuntu-all

#12601 [Ubuntu, Windows] Update edgedriver URL and maven version on ubuntu
  images/ubuntu/scripts/build/install-microsoft-edge.sh
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
  images/windows/scripts/build/Install-EdgeDriver.ps1
Labels: CI ubuntu-all, CI windows-all

#12608 [Ubuntu] Upgrade Kotlin to latest
  images/ubuntu/scripts/build/install-kotlin.sh
  images/ubuntu/scripts/tests/Tools.Tests.ps1
Labels: CI ubuntu-all

#12607 [Windows] Update Kotlin to latest
  images/windows/scripts/tests/Tools.Tests.ps1
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all

#12653 [Windows 22] Removing .Net version 6.0
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2022

#12657 [Ubuntu] update docker-compose to v2.37.3
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-all

#12670 [Windows] Updating Mercurial latest version 6.3.1
  images/windows/scripts/build/Install-Mercurial.ps1
Labels: CI windows-all

#12674 [Windows] Updating Ruby version to 3.4
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-2022, CI windows-2025

#12675 [Ubuntu] Updating Ruby version to 3.4.*
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-2204, CI ubuntu-2404

#12678 [Ubuntu 22 & 24] Updated the pypy 3.11 version
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-all
