Repository actions/runner-images, pull requests merged in 2025-09, with the labels that each got.

#12953 [Windows,Ubuntu] Unpin the Cmake version
  images/ubuntu/scripts/build/install-cmake.sh
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI ubuntu-all, CI windows-all

#12943 [Windows] Add Go latest stable release (1.25) in cached toolsets
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all

#13019 [windows] Update uri for mongo releases
  images/windows/scripts/build/Install-MongoDB.ps1
Labels: CI windows-all

#13044 [all OSs] Pin Rust to 1.89.0 due to a 1.90.0 breaking change
  images/macos/scripts/build/install-rust.sh
  images/ubuntu/scripts/build/install-rust.sh
  images/windows/scripts/build/Install-Rust.ps1
Labels: CI ubuntu-all, CI windows-all

#13058 [ubuntu] Update Ruby installer
  images/ubuntu/scripts/build/install-ruby.sh
Labels: CI ubuntu-all

#13076 Revert "[all OSs] Pin Rust to 1.89.0 due to a 1.90.0 breaking change"
  images/macos/scripts/build/install-rust.sh
  images/ubuntu/scripts/build/install-rust.sh
  images/windows/scripts/build/Install-Rust.ps1
Labels: CI ubuntu-all, CI windows-all

#13090 [Windows 2025] Add InnoSetup.
  images/windows/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/windows/scripts/tests/ChocoPackages.Tests.ps1
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all
