Repository actions/runner-images, pull requests merged in 2025-10, with the labels that each got.

#13110 [Ubuntu] Add Go 1.25
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-all

#13111 [all OSs] Add Node 24
  images/macos/toolsets/toolset-14.json
  images/macos/toolsets/toolset-15.json
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI ubuntu-all, CI windows-all

#13107 [Windows] Move PGDATA out of Program Files
  images/windows/scripts/build/Install-PostgreSQL.ps1
Labels: CI windows-all

#13120 [Windows] Update MinGW on 2022 and 2025, disable alert for 2019
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all

#13128 [Windows,Ubuntu] Update disk space pester test
  images/ubuntu/scripts/tests/System.Tests.ps1
  images/windows/scripts/tests/WindowsFeatures.Tests.ps1
Labels: CI ubuntu-all, CI windows-all

#13127 [windows] Add SQL OLEDB Driver 19
  images/windows/scripts/build/Install-SQLOLEDBDriver.ps1
  images/windows/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/windows/scripts/docs-gen/SoftwareReport.Tools.psm1
  images/windows/scripts/tests/Tools.Tests.ps1
Labels: CI windows-all

#13136 [Ubuntu] Add ssh_clear_authorized_keys to Packer template
  images/ubuntu/templates/source.ubuntu.pkr.hcl
  images/ubuntu/templates/variable.ubuntu.pkr.hcl
Labels: CI ubuntu-all
