Repository actions/runner-images, pull requests merged in 2025-01, with the labels that each got.

#11255 [windows] Fix WSL2 pester test
  images/windows/scripts/tests/WindowsFeatures.Tests.ps1
Labels: CI windows-all

#11276 [Windows] removing Python version:3.7.* in Windows 2019 and 2022 images
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#11275 [Ubuntu] removing Python Version:3.7.* in ubuntu 20.04 and 22.04 images.
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-all

#11278 [Windows 19 and 22] Removing .Net version 7.0
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2019, CI windows-2022

#11277 [Ubuntu 20 and 22] Removing .Net version 7.0
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-2004, CI ubuntu-2204

#11067 Use all processors when installing zstd
  images/ubuntu/scripts/build/install-zstd.sh
Labels: CI ubuntu-all

#11048 [Windows] Update Service Fabric Versions
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#11173 Implement az-cli warmup on ubuntu
  images/ubuntu/scripts/build/cleanup.sh
  images/ubuntu/scripts/build/install-azure-cli.sh
  images/ubuntu/scripts/build/install-azure-devops-cli.sh
Labels: CI ubuntu-all

#11300 [Ubuntu-24] Add libsqlite3-dev package to ubuntu 24
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-2404

#11248 [Windows-2025] Remove Visual Studio components related to 4.7.SDK
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-2025

#11361 [Windows] Update EdgeDriver signature
  images/windows/scripts/build/Install-EdgeDriver.ps1
Labels: CI windows-all

#11392 [Windows] Update visual studio signature for windows 2019
  images/windows/toolsets/toolset-2019.json
Labels: CI windows-2019

#11398 [Windows] Azurerm module version 2.1.0 deprecated
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2019, CI windows-2022

#11397 [windows] Update Get-WindowsUpdateStates function
  images/windows/scripts/helpers/InstallHelpers.ps1
Labels: CI windows-all

#11429 [Ubuntu] Fix minikube failure on ubuntu images
  images/ubuntu/scripts/build/install-kubernetes-tools.sh
Labels: CI ubuntu-all

#11047 [Windows] Unpin Postgres allowing latest v14 version
  images/windows/scripts/build/Install-PostgreSQL.ps1
  images/windows/scripts/helpers/InstallHelpers.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#11438 [Ubuntu & Windows] Adding Python 3.13 version
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI ubuntu-all, CI windows-all

#11457 [Ubuntu 20 & Ubuntu 22] Adding Dotnet latest version 9.0
  images/ubuntu/toolsets/toolset-2004.json
  images/ubuntu/toolsets/toolset-2204.json
Labels: CI ubuntu-2004, CI ubuntu-2204

#11454 [Windows] Adding Ruby version 3.3
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#11461 [Windows] Updated to PHP version 8.4.
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all
