Repository actions/runner-images, pull requests merged in 2025-06, with the labels that each got.

#12340 [Ubuntu] Update Maven to 3.9.10 to fix 404 error.
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-all

#12335 Remove orphaned Python 3.8 (x86) in Windows toolsets 2019 and 2022
  images/ubuntu/Ubuntu2004-Readme.md
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-all

#12381 [Ubuntu] Updated docker-compose to 2.36.2
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-all

#12425 [windows] Suppress Progress Output and Disable Checksum Verification
  images/windows/scripts/build/Install-AzureCosmosDbEmulator.ps1
  images/windows/scripts/build/Install-WSL2.ps1
  images/windows/scripts/helpers/InstallHelpers.ps1
Labels: CI windows-2022, CI windows-2025

#12434 [Ubuntu] Replace WebClient with Invoke-WebRequest
  images/ubuntu/scripts/helpers/Common.Helpers.psm1
Labels: CI ubuntu-all

#12223 [windows] Fix syntax of ssh-keyscan
  images/windows/scripts/build/Install-Git.ps1
Labels: CI windows-all

#12467 [Windows-2025] Enable permission inheritance for the C: drive
  images/windows/scripts/build/Configure-System.ps1
Labels: CI windows-2025
