Repository actions/runner-images, pull requests merged in 2025-04, with the labels that each got.

#11927 [Windows] Update default CodeQL major version to v3
  images/windows/scripts/build/Install-CodeQLBundle.ps1
Labels: CI windows-all

#11929 [Ubuntu] Update default CodeQL major version to v3
  images/ubuntu/scripts/build/install-codeql-bundle.sh
Labels: CI ubuntu-all

#11948 [Ubuntu 20 & Ubuntu22] Fix Rust issue.
  images/ubuntu/scripts/build/install-rust.sh
Labels: CI ubuntu-2004, CI ubuntu-2204

#11949 [Windows 19 & Windows 22] Fix Rust issue.
  images/windows/scripts/build/Install-Rust.ps1
Labels: CI windows-2019, CI windows-2022

#11936 [windows] Pin the cmake version to 3.31.6
  images/windows/scripts/build/Install-ChocolateyPackages.ps1
  images/windows/scripts/helpers/ChocoHelpers.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all

#11974 [Windows] Update Visual Studio Signature Thumbprint for 2019
  images/windows/toolsets/toolset-2019.json
Labels: CI windows-2019

#11997 Change URL for packages
  CONTRIBUTING.md
  README.md
  helpers/GenerateResourcesAndImage.ps1
  images/macos/assets/bootstrap-provisioner/kcpassword.py
  images/macos/scripts/build/configure-hostname.sh
  images/macos/scripts/build/install-edge.sh
  images/ubuntu/scripts/build/configure-apt-sources.sh
  images/ubuntu/scripts/build/configure-apt.sh
  images/ubuntu/scripts/build/configure-dpkg.sh
  images/ubuntu/scripts/build/install-erlang.sh
  images/ubuntu/scripts/build/install-firefox.sh
  images/ubuntu/scripts/build/install-sqlpackage.sh
  images/windows/scripts/build/Install-WebPlatformInstaller.ps1
  schemas/toolset-schema.json
Labels: CI ubuntu-all, CI windows-all

#11972 [Windows] Improve module path handling in installation script
  images/windows/scripts/build/Install-PowershellAzModules.ps1
Labels: CI windows-all

#12051 [windows] Update DacFx package Path & Mysql cli signature thumbprint
  images/windows/scripts/docs-gen/SoftwareReport.Tools.psm1
  images/windows/scripts/tests/Tools.Tests.ps1
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-2022, CI windows-2025

#12072 [Ubuntu-22] Fix Podman CNI version issue on Ubuntu 22 by installing containernetworking-plugins 1.1.1
  images/ubuntu/scripts/build/install-container-tools.sh
Labels: CI ubuntu-all, CI ubuntu-2204

#12080 [Windows] update AzureCosmoDB checksum
  images/windows/scripts/build/Install-AzureCosmosDbEmulator.ps1
Labels: CI windows-all

#11748 Ubuntu 20 Deprecation changes
  .github/ISSUE_TEMPLATE/announcement.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/tool-request.yml
  .github/workflows/ubuntu2004.yml
  CONTRIBUTING.md
  README.md
  docs/create-image-and-azure-resources.md
  helpers/GenerateResourcesAndImage.ps1
  images/ubuntu/assets/ubuntu2004.conf
  images/ubuntu/scripts/build/install-aliyun-cli.sh
  images/ubuntu/scripts/build/install-container-tools.sh
  images/ubuntu/scripts/build/install-erlang.sh
  images/ubuntu/scripts/build/install-hhvm.sh
  images/ubuntu/scripts/build/install-mongodb.sh
  images/ubuntu/scripts/build/install-oc-cli.sh
  images/ubuntu/scripts/build/install-phantomjs.sh
  images/ubuntu/scripts/build/install-php.sh
  images/ubuntu/scripts/build/install-ruby.sh
  images/ubuntu/scripts/build/install-rust.sh
  images/ubuntu/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/ubuntu/scripts/docs-gen/SoftwareReport.WebServers.psm1
  images/ubuntu/scripts/helpers/Common.Helpers.psm1
  images/ubuntu/scripts/helpers/os.sh
  images/ubuntu/scripts/tests/CLI.Tools.Tests.ps1
  images/ubuntu/scripts/tests/Databases.Tests.ps1
  images/ubuntu/scripts/tests/Tools.Tests.ps1
  images/ubuntu/templates/ubuntu-20.04.pkr.hcl
  images/ubuntu/toolsets/toolset-2004.json
Labels: CI ubuntu-all

#11931 [Ubuntu] Always use the latest major version of CodeQL Action
  images/ubuntu/scripts/build/install-codeql-bundle.sh
Labels: CI ubuntu-all

#11947 [Windows] Always use the latest major version of CodeQL Action
  images/windows/scripts/build/Install-CodeQLBundle.ps1
Labels: CI windows-all

#12053 Fix `mirror+file:` for `ubuntu.sources`
  images/ubuntu/scripts/build/configure-apt-sources.sh
Labels: CI ubuntu-all
