Repository actions/runner-images, pull requests merged in 2025-03, with the labels that each got.

#11548 [Windows 19 & 22] Remove AzureRM and Azure powershell modules from windows images
  images/windows/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/windows/scripts/tests/Helpers.psm1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2019, CI windows-2022

#11706 [Ubuntu] Add Ninja
  images/ubuntu/scripts/build/install-ninja.sh
  images/ubuntu/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/ubuntu/scripts/docs-gen/SoftwareReport.Tools.psm1
  images/ubuntu/scripts/tests/Tools.Tests.ps1
  images/ubuntu/templates/ubuntu-20.04.pkr.hcl
  images/ubuntu/templates/ubuntu-22.04.pkr.hcl
  images/ubuntu/templates/ubuntu-24.04.pkr.hcl
Labels: CI ubuntu-all

#11732 [Ubuntu] Add Installation of google-cloud-errors Gem for Ubuntu 20
  images/ubuntu/scripts/build/install-ruby.sh
Labels: CI ubuntu-all

#11745 [macOS] Add Go 1.24.
  images/macos/toolsets/toolset-13.json
  images/macos/toolsets/toolset-14.json
  images/macos/toolsets/toolset-15.json
Labels: OS: macOS

#11737 [Windows] Add Ninja
  images/windows/scripts/docs-gen/Generate-SoftwareReport.ps1
  images/windows/scripts/docs-gen/SoftwareReport.Tools.psm1
  images/windows/scripts/tests/ChocoPackages.Tests.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all

#11793 [Ubuntu] Fix Ubuntu 20 failure by pinning ruby gems
  images/ubuntu/scripts/build/install-ruby.sh
Labels: CI ubuntu-all

#11835 [Ubuntu] Updating SBT version regex pattern.
  images/ubuntu/scripts/docs-gen/SoftwareReport.Common.psm1
Labels: CI ubuntu-2004, CI ubuntu-2204, CI ubuntu-2404

#11846 [Ubuntu] Pinning Kotlin previous version 2.1.10
  images/ubuntu/scripts/build/install-kotlin.sh
Labels: CI ubuntu-all

#11866 [Windows] Fix SBT version issue and Pinning Kotlin version
  images/windows/scripts/docs-gen/SoftwareReport.Common.psm1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all

#11885 [Windows 2025] Updated latest WSL2 checksum.
  images/windows/scripts/build/Install-WSL2.ps1
Labels: CI windows-2025

#11743 [Windows] Updating Windows-Service-Fabric Runtime and SDK version to latest (10.1.2493.9590)
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all

#11890 [Ubuntu] Removing mongo db from toolset in Ubuntu 22.04 and 24.04
  images/ubuntu/toolsets/toolset-2204.json
  images/ubuntu/toolsets/toolset-2404.json
Labels: CI ubuntu-all

#11892 [Windows 25]Updated the mongodb signature thumbprint.
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-2025
