Repository actions/runner-images, pull requests merged in 2025-02, with the labels that each got.

#11507 [Windows 19 & 22] Updated the mongodb signature thumbprint.
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
Labels: CI windows-2019, CI windows-2022

#11539 [Ubuntu] add Android SDK Platform-Tools
  images/ubuntu/scripts/build/install-android-sdk.sh
  images/ubuntu/scripts/tests/Android.Tests.ps1
Labels: CI ubuntu-all

#10007 Change to use hkps over port 443 instead of 11371 to resolve issue https://github.com/actions/runner-images/discussions/9963
  images/ubuntu/scripts/build/install-swift.sh
Labels: CI ubuntu-all

#11547 [Ubuntu24] adding libicu package version 70
  images/ubuntu/scripts/build/configure-dpkg.sh
Labels: CI ubuntu-all

#11413 [ubuntu] Don't install documentation for ruby gems
  images/ubuntu/scripts/build/install-ruby.sh
Labels: CI ubuntu-all

#11550 [Windows 2025] Updated latest WSL2 checksum.
  images/windows/scripts/build/Install-WSL2.ps1
Labels: CI windows-2025

#11559 [Windows] Update signature for AWScli SessionManagerPluginSetup.exe
  images/windows/scripts/build/Install-AWSTools.ps1
Labels: CI windows-all

#11564 [windows-2025] Fix .Net 8 SDK installation
  images/windows/scripts/build/Install-DotnetSDK.ps1
Labels: CI windows-all

#11584 [Windows] Updated the EdgeDriver, vcRedis signature and Openssl version to 3.4.1 in Windows 25
  images/windows/scripts/build/Install-EdgeDriver.ps1
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all

#11587 Add the ability to specify Packer Azure plugin version
  helpers/GenerateResourcesAndImage.ps1
  images.CI/linux-and-win/build-image.ps1
  images/ubuntu/templates/ubuntu-20.04.pkr.hcl
  images/ubuntu/templates/ubuntu-22.04.pkr.hcl
  images/ubuntu/templates/ubuntu-24.04.pkr.hcl
  images/ubuntu/templates/ubuntu-minimal.pkr.hcl
  images/windows/templates/windows-2019.pkr.hcl
  images/windows/templates/windows-2022.pkr.hcl
  images/windows/templates/windows-2025.pkr.hcl
Labels: CI ubuntu-all, CI windows-all

#11612 [Windows] Updating Edgedriver signature and Wsl2 checksum
  images/windows/scripts/build/Install-EdgeDriver.ps1
  images/windows/scripts/build/Install-WSL2.ps1
Labels: CI windows-all

#11642 [Windows] Pin the git version to 2.47.1
  images/windows/scripts/build/Install-Git.ps1
Labels: CI windows-all

#11647 [Windows] Update Edgedriver Signature on windows images
  images/windows/scripts/build/Install-EdgeDriver.ps1
Labels: CI windows-all

#11652 Revert "[Windows] Pin the git version to 2.47.1".
  images/windows/scripts/build/Install-Git.ps1
Labels: CI windows-all

#11665 [Windows] Updating gecko-driver-signature
  images/windows/scripts/build/Install-Firefox.ps1
Labels: CI windows-all

#11680 [windows(22 & 25)] Update Visual Studio signature Thumbprint on windows
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-2022, CI windows-2025

#11664 [Windows] Updating Docker-Engine version to 27
  images/windows/toolsets/toolset-2019.json
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all

#11595 [windows 22 & 25 ] Upgrade visual studio to postGRO channel
  images/windows/scripts/build/Install-VisualStudio.ps1
  images/windows/scripts/helpers/VisualStudioHelpers.ps1
  images/windows/toolsets/toolset-2022.json
  images/windows/toolsets/toolset-2025.json
Labels: CI windows-all
